<header>
    <div class="navbar bg-primary shadow-dark navbar-dark">
        <div class="navbar-brand d-flex align-item-center">
            <span class="f-32">
                <i class="fas fa-shipping-fast "> </i>
            </span> &nbsp; <strong class="f-30"> Flipkart</strong>
            <div class="form-group">
                <input type="text" name="" id="" placeholder="Search Items" class="form-control searchinput">
            </div>
            <span class="fas fa-search search-icon">
            </span>
        </div>
        <div class="">
            <button class="btn btn-info" routerLink="cart">
                <i class="fas fa-cart-plus f-25"></i>
                <div class="badge bg-success ">{{totalItem}}</div>
            </button>
        </div>
    </div>
</header>